 :root{
  --clr-01: #042C53 ;/*042C53 */ 
  --clr-02: #03153E; 
  --clr-03: #03143C; 
  --clr-04: #071E54; 
  --clr-05: #2B1E7F; 
  --clr-06: #062470; 
  --clr-07: #032674; 
  --clr-08: #3498db; 
  --clr-01a: #042b536b; 
  --clr-02a: #03153e9c; 
  --clr-03a: #03143c9d; 
  --clr-04a: #071e5483; 
  --clr-05a: #2b1e7f91; 
  --clr-06a: #0624707e; 
  --clr-07a: #0327748a; 
  --clr-08a: #3498db73; 
 
 }



body{
    background: var(--clr-01);
    position: relative;
    z-index: -200;
    /* font-family: Inter, Roboto, Satoshi, sans-serif; */
    font-family: Poppins, Montserrat, Space Grotesk sans-serif;
}

.btn{
    background: #378ADD;
    letter-spacing: 1.2px;
    padding: 4px 8px;
    border: none;
    border-radius: 5px;
    background: #378ADD;
    box-shadow: 0 0 8px rgba(164, 179, 250, 0.329);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.btn:hover{
    background: #85b6ebbd;
    color:#E6F1FB ;
}

/* ======Header===== */

/* ======Menu btn===== */





/* =========== */
/* Footer */
/* ===========------------------------ */
.footer{
    /* background: red; */
    padding: 50px 0;
    margin-top: -50px;
}
/* ===========------------------------ */
/* =========== */
/* =========== */
/* =========== */
/* =========== */
/* =========== */
/* =========== */
/* =========== */
/* =========== */
/* =========== */
/* =========== */
/* =========== */
/* =========== */
/* =========== */
/* =========== */
/* =========== */
/* =========== */
/* =========== */
/* =========== */
/* =========== */
/* =========== */
/* =========== */
/* =========== */
/* =========== */
/* =========== */
/* =========== */
/* =========== */
/* =========== */